@import "tailwindcss";

*{
  box-sizing: border-box;
}

@theme inline {
  --color-background: #2b8883;
  --color-button-outline: #F4F4F9;
  --color-badge-outline: rgba(255,255,255,0.05);
  --color-opaque-button-border-intensity: 9;

  --color-elevate-1: rgba(255,255,255,0.04);
  --color-elevate-2: rgba(255,255,255,0.09);

  --color-secondary-background: #D6E8D3;        
  --color-foreground: #000;         
  --color-border: #252723;             
  /* --color-card: #F5F5F7;                */
  /* --color-card-foreground: #e6e6e6;    
  --color-card-border: #262626;         */

  --color-sidebar: #1e1e1e;            
  --color-sidebar-foreground: #e6e6e6; 
  --color-sidebar-border: #2e2e2e;     
  --color-sidebar-primary: #87b88f;    
  --color-sidebar-primary-foreground: #1a1a1a;
  --color-sidebar-accent: #3a3320;     
  --color-sidebar-accent-foreground: #d9d9d9;
  --color-sidebar-ring: #87b88f;      
  --color-popover: #242424;             
  --color-popover-foreground: #e6e6e6;  
  --color-popover-border: #333333;      

  --color-primary: #2b8883;             
  --color-primary-darker: #1E6B68;             
  --color-primary-foreground: #f2f2f2;  
  --color-secondary: #E67E22;           
  --color-secondary-foreground: #f2f2f2; 
  --color-accent: #333138;           
  --color-accent-foreground: #d9d9d9;
  --color-destructive: #C94B4B;     
  --color-destructive-foreground: #f2f2f2;
  --color-success: #4CAF50;
  --color-success-foreground: #f2f2f2;
  --color-muted-foreground: #D6DEE8;    
  --color-muted-dark: #0B0B09;
  --color-muted: #ffffff;    


  --color-input: #F4F4F9;             
  --color-ring: #F4F4F9;              
  --color-chart-1: #68a882;           
  --color-chart-2: #bfbf96;          
  --color-chart-3: #a99f66;           
  --color-chart-4: #6699b2;          
  --color-chart-5: #a366b2;          

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

